@font-face {
	font-family: 'LGI-Iconfont';
	src:url('fonts/LGI-Iconfont.eot?-2facqx');
	src:url('fonts/LGI-Iconfont.eot?#iefix-2facqx') format('embedded-opentype'),
		url('fonts/LGI-Iconfont.ttf?-2facqx') format('truetype'),
		url('fonts/LGI-Iconfont.woff?-2facqx') format('woff'),
		url('fonts/LGI-Iconfont.svg?-2facqx#LGI-Iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="LGI-icon"], [class*=" LGI-icon"] {
	font-family: 'LGI-Iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.LGI-iconcall-log:before {
	content: "\e600";
}
.LGI-iconb-call-log-large:before {
	content: "\e601";
}
.LGI-iconvoicemail:before {
	content: "\e602";
}
.LGI-iconb-voicemail-large:before {
	content: "\e603";
}
.LGI-iconsettings:before {
	content: "\e604";
}
.LGI-iconb-settings-large:before {
	content: "\e605";
}
.LGI-iconsubscriber:before {
	content: "\e606";
}
.LGI-iconb-subscriber-large:before {
	content: "\e607";
}
.LGI-iconpbx-device:before {
	content: "\e608";
}
.LGI-iconb-pbx-device-large:before {
	content: "\e609";
}
.LGI-iconhuntinggroup:before {
	content: "\e60a";
}
.LGI-iconb-huntinggroup-large:before {
	content: "\e60b";
}
.LGI-iconauto-attendant:before {
	content: "\e60c";
}
.LGI-iconb-auto-attendant-large:before {
	content: "\e60d";
}
.LGI-iconconference-room:before {
	content: "\e60e";
}
.LGI-iconb-conference-room-large:before {
	content: "\e60f";
}
.LGI-iconmusic-on-hold:before {
	content: "\e610";
}
.LGI-iconb-music-on-hold-large:before {
	content: "\e611";
}
.LGI-icondefault-forward:before {
	content: "\e612";
}
.LGI-iconb-default-forward-large:before {
	content: "\e613";
}
.LGI-iconhelp:before {
	content: "\e614";
}
.LGI-iconb-help-large:before {
	content: "\e615";
}
.LGI-iconlanguage:before {
	content: "\e616";
}
.LGI-iconb-language-large:before {
	content: "\e617";
}
.LGI-iconlog-out:before {
	content: "\e618";
}
.LGI-iconb-log-out:before {
	content: "\e619";
}
.LGI-iconmenu:before {
	content: "\e61a";
}
.LGI-iconsearch:before {
	content: "\e61b";
}
.LGI-iconplay:before {
	content: "\e61c";
}
.LGI-iconpauze:before {
	content: "\e61d";
}
.LGI-iconplus:before {
	content: "\e61e";
}
.LGI-iconb-plus-bold:before {
	content: "\e61f";
}
.LGI-iconmin:before {
	content: "\e620";
}
.LGI-iconb-min-bold:before {
	content: "\e621";
}
.LGI-iconcross:before {
	content: "\e622";
}
.LGI-iconb-cross-bold:before {
	content: "\e623";
}
.LGI-iconcheck:before {
	content: "\e624";
}
.LGI-iconb-check-bold:before {
	content: "\e625";
}
.LGI-iconarrow-right:before {
	content: "\e626";
}
.LGI-iconb-arrow-right-bold:before {
	content: "\e627";
}
.LGI-iconarrow-left:before {
	content: "\e628";
}
.LGI-iconb-arrow-left-bold:before {
	content: "\e629";
}
.LGI-iconarrow-down:before {
	content: "\e62a";
}
.LGI-iconb-arrow-down-bold:before {
	content: "\e62b";
}
.LGI-iconarrow-up:before {
	content: "\e62c";
}
.LGI-iconb-arrow-up-bold:before {
	content: "\e62d";
}
.LGI-iconblf:before {
	content: "\e62e";
}
.LGI-iconprivate:before {
	content: "\e62f";
}
.LGI-iconshared:before {
	content: "\e630";
}
.LGI-iconcall-in:before {
	content: "\e631";
}
.LGI-iconcall-out:before {
	content: "\e632";
}
.LGI-iconreset-password:before {
	content: "\e633";
}
.LGI-iconb-reset-password-large:before {
	content: "\e634";
}
.LGI-iconedit:before {
	content: "\e635";
}
.LGI-iconcall:before {
	content: "\e636";
}
.LGI-iconcfb:before {
	content: "\e637";
}
.LGI-iconcft:before {
	content: "\e638";
}
.LGI-iconcfna:before {
	content: "\e639";
}
.LGI-iconcfu:before {
	content: "\e63a";
}
.LGI-iconcall-route:before {
	content: "\e63b";
}
.LGI-iconcustomer:before {
	content: "\e63c";
}
.LGI-iconb-customer-large:before {
	content: "\e63d";
}
.LGI-iconstar:before {
	content: "\e63e";
}
.LGI-icondashboard:before {
	content: "\e63f";
}
.LGI-iconb-dashboard-large:before {
	content: "\e640";
}
.LGI-iconglobe:before {
	content: "\e641";
}
.LGI-iconb-globe-large:before {
	content: "\e642";
}
.LGI-icontoggle:before {
	content: "\e643";
}
.LGI-iconb-toggle-large:before {
	content: "\e644";
}
.LGI-iconupload:before {
	content: "\e645";
}
.LGI-iconb-upload-large:before {
	content: "\e646";
}
.LGI-icondownload:before {
	content: "\e647";
}
.LGI-iconb-download-large:before {
	content: "\e648";
}
.LGI-iconwindows:before {
	content: "\e649";
}
.LGI-icongoogle-play:before {
	content: "\e64a";
}
.LGI-iconapple:before {
	content: "\e64b";
}
.LGI-iconubuntu:before {
	content: "\e64c";
}
.LGI-iconwizard:before {
	content: "\e64d";
}
.LGI-iconb-wizard-large:before {
	content: "\e64e";
}
.LGI-iconsmall-dot:before {
	content: "\e64f";
}
.LGI-iconbin:before {
	content: "\e650";
}
.LGI-iconfont-type:before {
	content: "\e651";
}
.LGI-iconbold:before {
	content: "\e652";
}
.LGI-iconitalic:before {
	content: "\e653";
}
.LGI-iconunderlined:before {
	content: "\e654";
}
.LGI-iconbullit-list:before {
	content: "\e655";
}
.LGI-iconnumber-list:before {
	content: "\e656";
}
.LGI-iconhyperlink:before {
	content: "\e657";
}
.LGI-iconremove-hyperlink:before {
	content: "\e658";
}
.LGI-iconundo:before {
	content: "\e659";
}
.LGI-iconredo:before {
	content: "\e65a";
}
.LGI-iconmedia-library:before {
	content: "\e65b";
}
.LGI-iconphoto:before {
	content: "\e65c";
}
.LGI-iconpaperclip:before {
	content: "\e65d";
}
.LGI-iconlink:before {
	content: "\e65e";
}
.LGI-iconb-link-large:before {
	content: "\e65f";
}
.LGI-iconsitemap:before {
	content: "\e660";
}
.LGI-iconbegin:before {
	content: "\e661";
}
.LGI-iconb-begin-bold:before {
	content: "\e662";
}
.LGI-iconend:before {
	content: "\e663";
}
.LGI-iconb-end-bold:before {
	content: "\e664";
}
