#list-item .inline-menu-item {
  background: none;
  padding-left: 0;
  float: left;
  display: block;
  margin: 0 10px;
}
@font-face {
  font-family: museo500;
  src: url(../font/museo-500/MuseoSans_500-webfont.eot);
  src: url(../font/museo-500/MuseoSans_500-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-500/MuseoSans_500-webfont.svg#MuseoSans500Regular) format('svg'), url(../font/museo-500/MuseoSans_500-webfont.woff) format('woff'), url(../font/museo-500/MuseoSans_500-webfont.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: museo500;
  src: url(../font/museo-500/MuseoSans_500_Italic-webfont.eot);
  src: url(../font/museo-500/MuseoSans_500_Italic-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-500/MuseoSans_500_Italic-webfont.svg#MuseoSans_500_Italic-webfont) format('svg'), url(../font/museo-500/MuseoSans_500_Italic-webfont.woff) format('woff'), url(../font/museo-500/MuseoSans_500_Italic-webfont.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: museo500;
  src: url(../font/museo-700/MuseoSans_700-webfont.eot);
  src: url(../font/museo-700/MuseoSans_700-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-700/MuseoSans_700-webfont.svg#MuseoSans700Regular) format('svg'), url(../font/museo-700/MuseoSans_700-webfont.woff) format('woff'), url(../font/museo-700/MuseoSans_700-webfont.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: museo500;
  src: url(../font/museo-700/MuseoSans_700_Italic-webfont.eot);
  src: url(../font/museo-700/MuseoSans_700_Italic-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-700/MuseoSans_700_Italic-webfont.svg#MuseoSans_700_Italic-webfont) format('svg'), url(../font/museo-700/MuseoSans_700_Italic-webfont.woff) format('woff'), url(../font/museo-700/MuseoSans_700_Italic-webfont.ttf) format('truetype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: museo700;
  src: url(../font/museo-700/MuseoSans_700-webfont.eot);
  src: url(../font/museo-700/MuseoSans_700-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-700/MuseoSans_700-webfont.svg#MuseoSans700Regular) format('svg'), url(../font/museo-700/MuseoSans_700-webfont.woff) format('woff'), url(../font/museo-700/MuseoSans_700-webfont.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: museo700;
  src: url(../font/museo-700/MuseoSans_700_Italic-webfont.eot);
  src: url(../font/museo-700/MuseoSans_700_Italic-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-700/MuseoSans_700_Italic-webfont.svg#MuseoSans_700_Italic-webfont) format('svg'), url(../font/museo-700/MuseoSans_700_Italic-webfont.woff) format('woff'), url(../font/museo-700/MuseoSans_700_Italic-webfont.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: museo900;
  src: url(../font/museo-900/MuseoSans_900-webfont.eot);
  src: url(../font/museo-900/MuseoSans_900-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-900/MuseoSans_900-webfont.svg#MuseoSans900Regular) format('svg'), url(../font/museo-900/MuseoSans_900-webfont.woff) format('woff'), url(../font/museo-900/MuseoSans_900-webfont.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: museo900;
  src: url(../font/museo-900/MuseoSans_900_Italic-webfont.eot);
  src: url(../font/museo-900/MuseoSans_900_Italic-webfont.eot?#iefix) format('embedded-opentype'), url(../font/museo-900/MuseoSans_900_Italic-webfont.svg#MuseoSans_900_Italic-webfont) format('svg'), url(../font/museo-900/MuseoSans_900_Italic-webfont.woff) format('woff'), url(../font/museo-900/MuseoSans_900_Italic-webfont.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: ziggonl;
  src: url(../font/ziggonl/ziggonl.eot);
  src: url(../font/ziggonl/ziggonl.eot?#iefix) format('embedded-opentype'), url(../font/ziggonl/ziggonl.svg#MuseoSans_900_Italic-webfont) format('svg'), url(../font/ziggonl/ziggonl.woff) format('woff'), url(../font/ziggonl/ziggonl.ttf) format('truetype');
}
/**
 * Columns, sidebars & general layout
 */
.section {
  padding: 0 15px;
}
[id="content"] {
  clear: both;
}
@media only screen and (min-width: 1185px) {
  [id="content"] {
    max-width: 1185px;
    margin: 0 auto;
    padding: 2% 3%;
  }
  .sidebar {
    float: left;
    width: 23.5%;
    margin-right: 2%;
  }
  body.one-sidebar  .content-inner {
    position: relative;
    float: left;
    width: 74.5%;
  }
}
