<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Dashboard</title>
    </head>
    <body class="hpbx-page-dashboard">
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-body-menu-opened-overlay"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu-dummy-handle">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
            <ul class="hpbx-menu-items">
                <li class="hpbx-menu-item hpbx-menu-item-user">
                    <div class="hpbx-menu-item-icon-container">
                        <div class="hpbx-menu-item-icon hpbx-menu-handle hpbx-menu-handle-close">
                        </div>
                        <div class="hpbx-menu-item-count"></div>
                    </div>
                    <div class="hpbx-menu-item-title-container">
                        <span class="hpbx-menu-item-title">BHP Lab Customer B - Met een lange titel over meerdere regels </span>
                    </div>
                    <div class="hpbx-menu-item-subtitle-container">
                        <span class="hpbx-menu-item-subtitle-addition">admin</span>
                        <span class="hpbx-menu-item-subtitle">bladerdeeg BV - Met een lange sub title over meerdere regels</span>
                    </div>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-call-log hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Call-log</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-voicemail hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                            <div class="hpbx-menu-item-count">6</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Voicemail</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-personal-settings hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Personal Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-dashboard hpbx-menu-item-admin active-trail">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Dashboard is een lange titel</span>
                        </div>
                    </a>
                </li>
                <!-- Sub menu items -->
                <li class="hpbx-menu-item hpbx-submenu-item hpbx-menu-item-start-wizard hpbx-menu-item-admin ">
                    <a href="wizard.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Start wizard</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-submenu-item hpbx-menu-item-bulk-upload hpbx-menu-item-admin">
                    <a href="bulk-upload.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Bulk upload</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-customers hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-subscribers hpbx-menu-item-admin">
                    <a href="subscribers.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Subscribers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-pbx-devices hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">PBX Devices</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-hunting-groups hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Hunting Groups</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-auto-attendant hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Auto Attendant</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-conference-room hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Conference Room</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-music-on-hold hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Music on Hold</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-default-forward hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Default Forward</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hpbx-menu-items-sub">
                <li class="hpbx-menu-item hpbx-menu-item-password hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Change password</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-help hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-logout hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Log out</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-language hpbx-menu-item-sub" data-item-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                        <div class="hpbx-menu-item-handle-container">
                            <div class="hpbx-menu-item-handle"></div>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub hpbx-menu-item-sub-active" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">EN</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">NL</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Nederlands</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">DE</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Deutsch</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">TW</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Twents</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="hpbx-page-title">
                        <span class="sg-icon LGI-iconb-dashboard-large"></span>
                        <h2 class="sg-header-2">Dashboard</h2>
                    </div>
                    <div class="hpbx-dashboard-circles">
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-md-3">
                                <div class="hpbx-progress-circle-container">
                                    <div class="hpbx-progress-circle" data-value="72" data-total="80" data-svg-id="hpbx-dashboard-progress-circle-subscribers">
                                        <svg id="hpbx-dashboard-progress-circle-subscribers" class="hpbx-progress-circle-svg"></svg>
                                        <div class="hpbx-progress-circle-inner"><span class="LGI-iconb-subscriber-large"></span></div>
                                    </div>
                                    <div class="hpbx-progress-circle-title"><span class="hpbx-progress-circle-title-amount">72</span> Subscribers</div>
                                    <div class="hpbx-progress-circle-subtitle">80 total</div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-md-3">
                                <div class="hpbx-pie-chart-container">
                                    <div class="hpbx-pie-chart" data-percentages="30,15,10,45" data-labels="GER,GB,USA,Other" data-svg-id="hpbx-dashboard-pie-chart-calls">
                                        <svg id="hpbx-dashboard-pie-chart-calls" class="hpbx-pie-chart-svg"></svg>
                                        <div class="hpbx-pie-chart-inner"><span class="LGI-iconb-globe-large"></span></div>
                                        <div class="hpbx-pie-chart-tooltip"></div>
                                    </div>

                                    <div class="hpbx-percentage-display" data-value="17" data-svg-id="hpbx-percentage-display-calls">
                                          <svg id="hpbx-percentage-display-calls" class="hpbx-percentage-display-svg"></svg>
                                    </div>

                                    <div class="hpbx-pie-chart-title hpbx-ie8">Calls</div>
                                    <div class="hpbx-pie-chart-subtitle">17% International</div>
                                    <div class="hpbx-ie8">
                                        30% GER<br />
                                        15% GB<br />
                                        10% USA<br />
                                        45% Other<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-md-offset-3 col-md-3">
                                <div class="hpbx-dashboard-info hpbx-hidden-sm hpbx-visible-md">
                                    <h4 class="hpbx-dashboard-info-title"><span class="hpbx-dashboard-info-icon LGI-iconb-help-large"></span> Need help?</h4>
                                    <div class="hpbx-dashboard-info-subtitle">Name telecom provider</div>
                                    <div class="hpbx-dashboard-info-content">
                                        <div class="hpbx-contact-item">
                                            <span class="hpbx-contact-item-icon LGI-iconcall-log"></span> <a href="tel:0531234567">053 123 4567</a>
                                        </div>
                                        <div class="hpbx-contact-item">
                                            <span class="hpbx-contact-item-icon LGI-iconglobe"></span> <a href="http://telecomprovider.com" target="_blank">telecomprovider.com</a>
                                        </div>
                                        <div class="hpbx-contact-item">
                                            <span class="hpbx-contact-item-icon LGI-iconvoicemail"></span> <a href="mailto:info@telecomprovider.com">mail us</a>
                                        </div>
                                        <div class="hpbx-contact-item">
                                            <span class="hpbx-contact-item-icon LGI-iconconference-room"></span> <a href="#">start chat</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hpbx-dashboard-wizard-buttons">
                        <button class="sg-btn sg-btn-wizard">Create employee</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hpbx-dashboard-middle-section">
            <div class="hpbx-dashboard-middle-content-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 hpbx-main-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="hpbx-dashboard-info hpbx-visible-xxs hpbx-visible-xs hpbx-visible-sm hpbx-hidden-md">
                                        <h4 class="hpbx-dashboard-info-title"><span class="hpbx-dashboard-info-icon LGI-iconb-help-large"></span> Need help?</h4>
                                        <div class="hpbx-dashboard-info-subtitle">Name telecom provider</div>
                                        <div class="hpbx-dashboard-info-content">
                                            <div class="hpbx-contact-item">
                                                <span class="hpbx-contact-item-icon LGI-iconcall-log"></span> <a href="tel:0531234567">053 123 4567</a>
                                            </div>
                                            <div class="hpbx-contact-item">
                                                <span class="hpbx-contact-item-icon LGI-iconglobe"></span> <a href="http://telecomprovider.com" target="_blank">telecomprovider.com</a>
                                            </div>
                                            <div class="hpbx-contact-item">
                                                <span class="hpbx-contact-item-icon LGI-iconvoicemail"></span> <a href="mailto:info@telecomprovider.com">mail us</a>
                                            </div>
                                            <div class="hpbx-contact-item">
                                                <span class="hpbx-contact-item-icon LGI-iconconference-room"></span> <a href="#">start chat</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="hpbx-dashboard-faq-container">
                                        <h3 class="hpbx-dashboard-info-title"><span class="hpbx-dashboard-info-icon LGI-iconb-help-large"></span> F.A.Q.</h3>
                                        <ol class="hpbx-dashboard-ordered-list">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
                                            <li>Nulla facilisis arcu id nisl molestie, vel imperdiet arcu?</li>
                                            <li>Phasellus id erat et ligula tempor egestas in nec arcu?</li>
                                            <li>Mauris eget dui nunc. Duis at leo aliquet, aliquet mi et?</li>
                                            <li>In ac magna quis ligula venenatis tempus?</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="hpbx-dashboard-tabs-container">
                                        <div class="hpbx-tabs hpbx-tabs-inside-content">
                                            <ul>
                                                <li class="hpbx-tab-item"><a href="#tab-conference-rooms"><span class="hpbx-tab-icon LGI-iconconference-room"></span><span class="hpbx-tab-title">Conference rooms</span></a></li>
                                                <li class="hpbx-tab-item"><a href="#tab-hunting-groups"><span class="hpbx-tab-icon LGI-iconhuntinggroup"></span><span class="hpbx-tab-title">Hunting groups</span></a></li>
                                                <li class="hpbx-tab-item"><a href="#tab-auto-attendant"><span class="hpbx-tab-icon LGI-iconauto-attendant"></span><span class="hpbx-tab-title">Auto attendants</span></a></li>
                                            </ul>
                                            <div id="tab-conference-rooms">
                                                <h4 class="hpbx-tabs-inside-content-title">Conference rooms</h4>
                                                <table class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-hidden-xxs">
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name conference room 1</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name conference room 2</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name conference room 3</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                </table>
                                                <div class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-visible-xxs">
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name conference room 1</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name conference room 2</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name conference room 3</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                </div>
                                                <div class="hpbx-tabs-inside-content-buttons">
                                                    <button class="sg-btn sg-btn-wizard">Create conference room</button>
                                                </div>
                                            </div>
                                            <div id="tab-hunting-groups">
                                                <h4 class="hpbx-tabs-inside-content-title">Hunting groups</h4>
                                                <table class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-hidden-xxs">
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name hunting group 1</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name hunting group 2</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name hunting group 3</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                </table>
                                                <div class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-visible-xxs">
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name hunting group 1</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name hunting group 2</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name hunting group 3</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                </div>
                                                <div class="hpbx-tabs-inside-content-buttons">
                                                    <button class="sg-btn sg-btn-wizard">Create hunting group</button>
                                                </div>
                                            </div>
                                            <div id="tab-auto-attendant">
                                                <h4 class="hpbx-tabs-inside-content-title">Auto attendants</h4>
                                                <table class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-hidden-xxs">
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name auto attendant 1</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name auto attendant 2</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                    <tr class="hpbx-tabs-inside-content-table-row">
                                                        <td class="hpbx-tabs-inside-content-table-cell">Name auto attendant 3</td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></td>
                                                        <td class="hpbx-tabs-inside-content-table-cell">0000</td>
                                                    </tr>
                                                </table>
                                                <div class="hpbx-tabs-inside-content-table hpbx-numbered hpbx-visible-xxs">
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name auto attendant 1</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name auto attendant 2</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                    <div class="hpbx-tabs-inside-content-table-row">
                                                        <div class="hpbx-tabs-inside-content-table-cell">Name auto attendant 3</div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">123456<span class="hpbx-pbx-extension">7890</span></div>
                                                        <div class="hpbx-tabs-inside-content-table-cell">0000</div>
                                                    </div>
                                                </div>
                                                <div class="hpbx-tabs-inside-content-buttons">
                                                    <button class="sg-btn sg-btn-wizard">Create auto attendant</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--             <div class="hpbx-graph-container" data-info-unit-singular="call" data-info-unit-plural="calls" data-info-sub-unit-singular="minute" data-info-sub-unit-plural="minutes" data-info-icon-class="LGI-iconcall-out">
                <div class="hpbx-graph-info">
                    <div class="hpbx-graph-info-icon"></div>
                    <div class="hpbx-graph-info-content">
                        <div class="hpbx-graph-info-content-main">
                            <span class="hpbx-graph-info-amount"></span> <span class="hpbx-graph-info-unit"></span>
                        </div>
                        <div class="hpbx-graph-info-content-sub">
                            <span class="hpbx-graph-info-sub-amount"></span> <span class="hpbx-graph-info-sub-unit"></span>
                        </div>
                    </div>
                </div>
                <svg id="svgDashboardGraph" class="hpbx-graph" data-svg-id="svgDashboardGraph" data-height="100" data-values="100,0,1,30,90,10,138,150,125,60,90,40,50,120" data-sub-values="78,0,1,59,128,8,257,57,227,35,87,51,39,1390" data-legend="JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB,MAR,APR,MAY" />
                <div class="hpbx-graph-legend">
                    <svg id="svgDashboardGraphLegend" class="hpbx-graph-legend-svg" data-svg-id="svgDashboardGraphLegend" data-height="80" />
                </div>
            </div> -->
        </div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.min.js"></script>
    </body>
</html>