<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Default Forward</title>
    </head>
    <body>
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-body-menu-opened-overlay"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu-dummy-handle">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
            <ul class="hpbx-menu-items">
                <li class="hpbx-menu-item hpbx-menu-item-user">
                    <div class="hpbx-menu-item-icon-container">
                        <div class="hpbx-menu-item-icon hpbx-menu-handle hpbx-menu-handle-close">
                        </div>
                        <div class="hpbx-menu-item-count"></div>
                    </div>
                    <div class="hpbx-menu-item-title-container">
                        <span class="hpbx-menu-item-title">BHP Lab Customer B</span>
                    </div>
                    <div class="hpbx-menu-item-subtitle-container">
                        <span class="hpbx-menu-item-subtitle-addition">admin</span>
                        <span class="hpbx-menu-item-subtitle">bladerdeeg BV</span>
                    </div>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-call-log hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Call-log</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-voicemail hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                            <div class="hpbx-menu-item-count">6</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Voicemail</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-personal-settings hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Personal Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-dashboard hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-customers hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-subscribers hpbx-menu-item-admin">
                    <a href="subscribers.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Subscribers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-pbx-devices hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">PBX Devices</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-hunting-groups hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Hunting Groups</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-auto-attendant hpbx-menu-item-admin active-trail">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Auto Attendant</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-conference-room hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Conference Room</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-music-on-hold hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Music on Hold</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-default-forward hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Default Forward</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hpbx-menu-items-sub">
                <li class="hpbx-menu-item hpbx-menu-item-password hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Change password</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-help hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-logout hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Log out</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-language hpbx-menu-item-sub" data-item-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                        <div class="hpbx-menu-item-handle-container">
                            <div class="hpbx-menu-item-handle"></div>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub hpbx-menu-item-sub-active" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">EN</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">NL</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Nederlands</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">DE</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Deutsch</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">TW</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Twents</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="hpbx-page-title">
                        <span class="sg-icon LGI-iconb-default-forward-large"></span>
                        <h2 class="sg-header-2">Default forward</h2>
                    </div>
                    <div class="hpbx-main-content-inner hpbx-default-forward">
                        <form class="hpbx-tab-form">

                            <div class="row">
                                <div class="hpbx-tab-form-label-field-row hpbx-required">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="hpbx-tab-form-label">Forward all numbers not in use to</div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-7">
                                        <div class="hpbx-tab-form-field">
                                            <select class="chzn-select sg-element no-search" data-placeholder="Choose an option">
                                                <option></option>
                                                <option>Item 1</option>
                                                <option>Item 2</option>
                                                <option>Item 3</option>
                                                <option>Item 4</option>
                                                <option>Item 5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="hpbx-main-content-buttons-row">
                                    <div class="col-xs-12">
                                        <input type="submit" class="sg-btn sg-without-icon sg-btn-primary" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
    </body>
</html>