<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->	
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../dist/css/all-ziggo.min.css" media="screen" rel="stylesheet" type="text/css">
		<link rel="icon" href="../../dist/img/favicon.ico" type="image/x-icon" />
        <title>Styleguide</title>
	</head>
	<body class="ep-example-page">
		<div class="ep-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="ep-header-logo-container">
							<img src="../../dist/img/company-logo.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row ep-titles-row">
				<div class="col-md-12">
					<h4>Colors</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="ep-styleguide-color-block ep-purple-1">
						<div class="ep-code"></div>
						<div class="ep-caption">purple 1</div>
					</div>
					<div class="ep-styleguide-color-block ep-purple-2">
						<div class="ep-code"></div>
						<div class="ep-caption">purple 2</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="ep-styleguide-color-block ep-green-1">
						<div class="ep-code"></div>
						<div class="ep-caption">green 1</div>
					</div>
					<div class="ep-styleguide-color-block ep-green-2">
						<div class="ep-code"></div>
						<div class="ep-caption">green 2</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="ep-styleguide-color-block ep-red">
						<div class="ep-code"></div>
						<div class="ep-caption">red</div>
					</div>
					<div class="ep-styleguide-color-block ep-orange">
						<div class="ep-code"></div>
						<div class="ep-caption">red orange</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="ep-styleguide-color-block ep-blue">
						<div class="ep-code"></div>
						<div class="ep-caption">blue</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
                    <div class="ep-styleguide-color-block ep-grey-1">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 1</div>
                    </div>
                    <div class="ep-styleguide-color-block ep-grey-2">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 2</div>
                    </div>
				</div>
                <div class="col-md-3">
                    <div class="ep-styleguide-color-block ep-grey-3">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 3</div>
                    </div>
                    <div class="ep-styleguide-color-block ep-grey-4">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 4</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ep-styleguide-color-block ep-grey-5 ep-with-border ep-no-bottom-border">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 5</div>
                    </div>
                    <div class="ep-styleguide-color-block ep-grey-6 ep-with-border">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 6</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ep-styleguide-color-block ep-grey-7 ep-with-border ep-no-bottom-border">
                        <div class="ep-code"></div>
                        <div class="ep-caption">grey 7</div>
                    </div>
                    <div class="ep-styleguide-color-block ep-white ep-with-border">
                        <div class="ep-code"></div>
                        <div class="ep-caption">white</div>
                    </div>
                </div>
			</div>
			<div class="row ep-titles-row">
				<div class="col-md-6">
					<h4>Typography</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sg-header-1">h1. Heading 1</div>
				</div>
				<div class="col-md-6 sg-header-1 sg-legend">
					<span class="ep-typography-font-family-header-1"></span>, 
					<span class="ep-typography-font-size-header-1"></span>, 
					regular, 
					<span class="ep-typography-color-code-header-1">color: </span>, #fff
					<br />
					<span class="ep-typography-line-height-header-1">Line height: *</span>, 
					<span class="ep-typography-margin-top-header-1">margin top: </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sg-header-2">h2. Heading 2</div>
				</div>
				<div class="col-md-6 sg-header-2 sg-legend">
					<span class="ep-typography-font-family-header-2"></span>, 
					<span class="ep-typography-font-size-header-2"></span>, 
					regular, 
					<span class="ep-typography-color-code-header-2">color: </span>, #fff
					<br />
					<span class="ep-typography-line-height-header-2">Line height: *</span>, 
					<span class="ep-typography-margin-top-header-2">margin top: </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sg-header-3">h3. Heading 3</div>
				</div>
				<div class="col-md-6 sg-header-3 sg-legend">
					<span class="ep-typography-font-family-header-3"></span>, 
					<span class="ep-typography-font-size-header-3"></span>, 
					regular, 
					<span class="ep-typography-color-code-header-3">color: </span>, #fff
					<br />
					<span class="ep-typography-line-height-header-3">Line height: *</span>, 
					<span class="ep-typography-margin-top-header-3">margin top: </span>
				</div>
			</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sg-header-4">h4. Heading 4</div>
                </div>
                <div class="col-md-6 sg-header-4 sg-legend">
                    <span class="ep-typography-font-family-header-4"></span>, 
                    <span class="ep-typography-font-size-header-4"></span>, 
                    regular, 
                    <span class="ep-typography-color-code-header-4">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-header-4">Line height: *</span>, 
                    <span class="ep-typography-margin-top-header-4">margin top: </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sg-header-5">h5. Heading 5</div>
                </div>
                <div class="col-md-6 sg-header-5 sg-legend">
                    <span class="ep-typography-font-family-header-5"></span>, 
                    <span class="ep-typography-font-size-header-5"></span>, 
                    regular, 
                    <span class="ep-typography-color-code-header-5">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-header-5">Line height: *</span>, 
                    <span class="ep-typography-margin-top-header-5">margin top: </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sg-header-6">h6. Heading 6</div>
                </div>
                <div class="col-md-6 sg-header-6 sg-legend">
                    <span class="ep-typography-font-family-header-6"></span>, 
                    <span class="ep-typography-font-size-header-6"></span>, 
                    regular, 
                    <span class="ep-typography-color-code-header-6">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-header-6">Line height: *</span>, 
                    <span class="ep-typography-margin-top-header-6">margin top: </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>Text large</div>
                </div>
                <div class="col-md-6 sg-legend">
                    <span class="ep-typography-font-family-text"></span>, 
                    <span class="ep-typography-font-size-text"></span>, 
                    regular, 
                    <span class="ep-typography-color-code-text">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-text">Line height: *</span>, 
                    <span class="ep-typography-margin-top-text">margin top: </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sg-text-intro">Text intro</div>
                </div>
                <div class="col-md-6 sg-legend">
                    <span class="ep-typography-font-family-text-intro"></span>, 
                    <span class="ep-typography-font-size-text-intro"></span>, 
                    bold, 
                    <span class="ep-typography-color-code-text-intro">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-text-intro">Line height: *</span>, 
                    <span class="ep-typography-margin-top-text-intro">margin top: </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="sg-text-small">Text small</div>
                </div>
                <div class="col-md-6 sg-legend">
                    <span class="ep-typography-font-family-text-small"></span>, 
                    <span class="ep-typography-font-size-text-small"></span>, 
                    regular, 
                    <span class="ep-typography-color-code-text-small">color: </span>, #fff
                    <br />
                    <span class="ep-typography-line-height-text-small">Line height: *</span>, 
                    <span class="ep-typography-margin-top-text-small">margin top: </span>
                </div>
            </div>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="sg-animate sg-horizontal-lines">Hyperlink</a>
				</div>
				<div class="col-md-6 sg-legend">
					<span class="ep-typography-font-family-hyperlink"></span>, 
					<span class="ep-typography-font-size-hyperlink"></span>, 
					underlined, 
					<span class="ep-typography-color-code-hyperlink">color: </span>
					<br />
					<i>Mouse over hyperlink: upper line; fade in up</i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<span class="ep-typography-selected-text">Text selection</span>
				</div>
				<div class="col-md-6 sg-legend">
					<span class="ep-typography-font-family-text"></span>, 
					<span class="ep-typography-font-size-text"></span>, 
					regular, 
					<span class="ep-typography-color-code-text-selection-text">txt color: </span>, 
					<span class="ep-typography-color-code-text-selection-selection">selection color: </span>
					<br />
					<span class="ep-typography-line-height-text">Line height: *</span>, 
					<span class="ep-typography-margin-top-text">margin top: </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sg-legend">Small text</div>
				</div>
				<div class="col-md-6 sg-legend">
					<span class="ep-typography-font-family-legend"></span>, 
					<span class="ep-typography-font-size-legend"></span>, 
					regular, 
					<span class="ep-typography-color-code-legend">color: </span>, #fff
					<br />
					<span class="ep-typography-line-height-legend">Line height: *</span>, 
					<span class="ep-typography-margin-top-legend">margin top: </span>
				</div>
			</div>		
			<div class="row ep-titles-row">
				<div class="col-md-8">
					<h4>Text block</h4>
					<div class="sg-text-content ep-with-margin-annotation">
						<h1 class="ep-with-margin-annotation">Headline 1 is <span class="ep-typography-font-family-header-1"></span> at <span class="ep-typography-font-size-header-1"></span>.</h1>
                        <h2 class="ep-with-margin-annotation">Headline 2 is <span class="ep-typography-font-family-header-2"></span> at <span class="ep-typography-font-size-header-2"></span>.<br />Example of two lines.</h2>
						<p class="sg-text-intro ep-with-margin-annotation">
							Text intro is <span class="ep-typography-font-family-text-intro"></span> Bold at <span class="ep-typography-font-size-text-intro"></span>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet arcu vel <a href="#" class="sg-animate sg-horizontal-lines">text link</a> turpis pellentesque, eu hendrerit quam auctor. Ut non fermentum metus felis.
						</p>
						<p class="ep-with-margin-annotation">
							Paragraphs are <span class="ep-typography-font-family-text"></span> at <span class="ep-typography-font-size-text"></span>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet arcu vel <a href="#" class="sg-animate sg-horizontal-lines">text link</a> turpis pellentesque, eu hendrerit quam auctor. Ut non fermentum metus felis.
						</p>
                        <h3 class="ep-with-margin-annotation">Headline 3 is <span class="ep-typography-font-family-header-3"></span> at <span class="ep-typography-font-size-header-3"></span>.
                        <br />Example of two lines.</h3>
                        <p class="ep-with-margin-annotation">
                            Paragraphs are <span class="ep-typography-font-family-text"></span> at <span class="ep-typography-font-size-text"></span>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet arcu vel turpis pellentesque, eu hendrerit quam auctor. Ut non fermentum metus felis.
                        </p>
                        <h4 class="ep-with-margin-annotation">Headline 4 is <span class="ep-typography-font-family-header-4"></span> at <span class="ep-typography-font-size-header-4"></span>.
                        <br />Example of two lines.</h4>
                        <p class="ep-with-margin-annotation">
                            Paragraphs are <span class="ep-typography-font-family-text"></span> at <span class="ep-typography-font-size-text"></span>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet arcu vel turpis pellentesque, eu hendrerit quam auctor. Ut non fermentum metus felis.
                        </p>
						<p class="ep-with-margin-annotation">
							2e paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet arcu vel turpis pellentesque.
						</p>
                        <h5 class="ep-with-margin-annotation">Headline 5 is <span class="ep-typography-font-family-header-5"></span> at <span class="ep-typography-font-size-header-5"></span>.
                        <br />Example of two lines.</h5>
						<div class="sg-paragraph ep-with-margin-annotation">
							<ul>
								<li>Bulleted list, line height * <span class="ep-typography-line-height-lists"></span></li>
								<li>Bulleted list, line height * <span class="ep-typography-line-height-lists"></span></li>
								<li>Bulleted list, line height * <span class="ep-typography-line-height-lists"></span></li>
							</ul>
						</div>
						<div class="sg-paragraph ep-with-margin-annotation">
							<ol>
								<li>Numbered list, line height * <span class="ep-typography-line-height-lists"></span></li>
								<li>Numbered list, line height * <span class="ep-typography-line-height-lists"></span></li>
								<li>Numbered list, line height * <span class="ep-typography-line-height-lists"></span></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
            <div class="row ep-titles-row">
                <div class="col-md-12">
                    <h4>Big buttons</h4>
                </div>
            </div>
            <div class="row ep-styleguide-button-row">
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-orange">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-orange" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-orange" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-orange" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-blue">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-blue" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-blue" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-blue" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-white">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-white" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-white" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-white" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-disabled">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-disabled" value="Button" disabled><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-disabled" value="Button" disabled><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-disabled" value="Button" disabled>Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
            </div>
            <div class="row ep-titles-row">
                <div class="col-md-12">
                    <h4>Small buttons</h4>
                </div>
            </div>
            <div class="row ep-styleguide-button-row">
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-btn-small sg-orange">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-btn-small sg-orange" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-btn-small sg-orange" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-btn-small sg-orange" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-btn-small sg-blue">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-btn-small sg-blue" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-btn-small sg-blue" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-btn-small sg-blue" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-btn-small sg-white">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-btn-small sg-white" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-btn-small sg-white" value="Button"><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-btn-small sg-white" value="Button">Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
                <div class="col-md-3">
                    <a href="#" class="sg-btn sg-btn-small sg-disabled">Button</a><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="button" class="sg-btn sg-btn-small sg-disabled" value="Button" disabled><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <input type="submit" class="sg-btn sg-btn-small sg-disabled" value="Button" disabled><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                    <br>
                    <button class="sg-btn sg-btn-small sg-disabled" value="Button" disabled>Button</button><span class="sg-btn-icon sg-btn-icon-arrow-right"></span>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12">
					See <a href="icons.html" class="sg-animate sg-horizontal-lines"> icons.html </a> for full list of available font icons
				</div>
			</div>
			<div class="row ep-titles-row">
				<div class="col-md-3">
					<h4>Text field</h4>
				</div>
				<div class="col-md-7">
					<h4>Dropdown</h4>
				</div>
				<div class="col-md-2">
					<h4 class="ep-gray-dark">Animations</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<input type="text" class="sg-element" placeholder="Text field normal" />
					<br /><br />
					<input type="text" class="sg-element sg-error" placeholder="" value="Text field incorrect" />
					<br />
					<div class="sg-input-error">Explanation text field incorrect</div>
					<br /><br />
					<textarea class="sg-element" placeholder="">Textarea</textarea>
				</div>
				<div class="col-md-3">
					<select class="chzn-select sg-element" data-placeholder="Choose an option" data-search-text="Narrow results">
						<option></option>
						<option>Item 1</option>
						<option>Second item</option>
						<option>Item 3</option>
						<option>Another item</option>
						<option>Item 5</option>
						<option>Item 6</option>
						<option>Item 7</option>
						<option>Item 8</option>
					</select>
				</div>
				<div class="col-md-3">
					<select class="chzn-select sg-element no-search" data-placeholder="Choose an option" data-search-text="Narrow results">
						<option></option>
						<option>Item 1</option>
						<option>Second item</option>
						<option>Item 3</option>
						<option>Another item</option>
						<option>Item 5</option>
					</select>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-2 ep-animation-description">
					<div class="sg-legend ep-event">Mouse over:</div>
					<div class="sg-legend ep-animation">Ease</div>
					<br />
					<div class="sg-legend ep-event">Mouse off:</div>
					<div class="sg-legend ep-animation">Ease</div>
					<br />
					<div class="sg-legend ep-event">Click state:</div>
					<div class="sg-legend ep-animation">Instant</div>
					<br />
					<div class="sg-legend ep-event">Incorrect:</div>
					<div class="sg-legend ep-animation">Shake</div>
					<br />
					<div class="sg-legend ep-event">Dropdown open:</div>
					<div class="sg-legend ep-animation">Icon: rotate clockwise</div>
					<div class="sg-legend ep-animation">Menu: slide down</div>
					<br />
					<div class="sg-legend ep-event">Dropdown close:</div>
					<div class="sg-legend ep-animation">Icon: rotate counterclockwise</div>
					<div class="sg-legend ep-animation">Menu: slide up</div>
				</div>
			</div>
			<div class="row ep-titles-row">
				<div class="col-md-3">
					<h4>Checkbox</h4>
				</div>
				<div class="col-md-3">
					<h4>Radio button</h4>
				</div>
				<div class="col-md-4">
					<h4>Toggle</h4>
				</div>
				<div class="col-md-2">
					<h4 class="ep-gray-dark">Animations</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="sg-custom-check-and-radio sg-custom-check">
						<input type="checkbox" name="checkbox" id="checkbox" value="1" />
						<label for="checkbox" title="">
							<span class="sg-caption">Checkbox</span>
							<div class="sg-alternative-display">
								<div class="sg-icon-check"></div>
							</div>
						</label>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="sg-custom-check-and-radio custom-radio">
						<input type="radio" name="radio-example" id="radio1" value="1" />
						<label for="radio1" title="">
							<span class="sg-caption">Radio 1</span>
							<div class="sg-alternative-display">
								<div class="sg-outer"><div class="sg-inner"></div></div>
							</div>
						</label>
					</div>	
					<div class="sg-custom-check-and-radio custom-radio">
						<input type="radio" name="radio-example" id="radio2" value="2" />
						<label for="radio2" title="">
							<span class="sg-caption">Radio 2</span>
							<div class="sg-alternative-display">
								<div class="sg-outer"><div class="sg-inner"></div></div>
							</div>
						</label>
					</div>	
					<div class="sg-custom-check-and-radio custom-radio">
						<input type="radio" name="radio-example" id="radio3" value="3" />
						<label for="radio3" title="">
							<span class="sg-caption">Radio 3</span>
							<div class="sg-alternative-display">
								<div class="sg-outer"><div class="sg-inner"></div></div>
							</div>
						</label>
					</div>
					<div class="sg-custom-check-and-radio custom-radio">
						<input type="radio" name="radio-example" id="radio4" value="4" />
						<label for="radio4" title="">
							<span class="sg-caption">Radio 4</span>
							<div class="sg-alternative-display">
								<div class="sg-outer"><div class="sg-inner"></div></div>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sg-custom-toggle sg-slide-colors">
						<input type="checkbox" name="sg-custom-toggle-sc" id="sg-custom-toggle-sc" value="1" />
						<label for="sg-custom-toggle-sc" title="">
							<div class="sg-alternative-display">
								<div class="sg-on"></div>
								<div class="sg-off"></div>
								<div class="sg-knob">
									<div class="sg-dot"></div>
								</div>
							</div>
							<div class="sg-caption-container">
								<div class="sg-caption"></div>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-2 ep-animation-description">
					<div class="sg-legend ep-event">Mouse over:</div>
					<div class="sg-legend ep-animation">Ease</div>
					<br />
					<div class="sg-legend ep-event">Mouse off:</div>
					<div class="sg-legend ep-animation">Ease</div>
					<br />
					<div class="sg-legend ep-event">Checked:</div>
					<div class="sg-legend ep-animation">Pulse</div>
					<br />
					<div class="sg-legend ep-event">Toggle on:</div>
					<div class="sg-legend ep-animation">Slide in left</div>
					<br />
					<div class="sg-legend ep-event">Toggle off:</div>
					<div class="sg-legend ep-animation">Slide in right</div>
				</div>
			</div>
		</div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
		<script type="text/javascript" src="../../dist/js/all.js"></script>
		<script type="text/javascript">
			var application = new _PE.app( { debug: 1 }, jQuery );
			application.boot();
		</script>
	</body>
</html>