<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Log in</title>
    </head>
    <body class="hpbx-no-menu">
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
        </div>
        <div class="hpbx-help-edit-url-popup-trigger">
            <span class="LGI-iconedit"></span>
        </div>
        <div class="hpbx-help-open-handle hpbx-help-open-handle-content-section" id="open-button" data-help-url="/project/templates/help/article-steps.html">
            <span class="LGI-iconb-help-large"></span>
        </div>
        <div class="hpbx-help">
            <iframe class="hpbx-help-iframe" src="/project/templates/help/loader.html" width="100%" height="100%" data-default-url="/project/templates/help/home.html"></iframe>
        </div>
        <div class="hpbx-help-loading-overlay">
            <div class="hpbx-help-loading-wait-container">
                <div class="hpbx-loader-animation-container">
                    <div class="hpbx-loader-animation">
                    </div>
                </div>
            </div>
            <div class="hpbx-help-loading-text hpbx-loader-title">Help is loading...</div>
        </div>
        <div class="container hpbx-no-menu">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="hpbx-page-title">
                                <span class="sg-icon LGI-iconb-subscriber-large"></span>
                                <h2 class="sg-header-2">Log in</h2>
                            </div>
                            <div class="hpbx-content-container">
                                <form class="hpbx-form-login">
                                    <div class="hpbx-form-login-row">
                                        <div class="hpbx-form-login-caption">Username</div>
                                        <input type="text" class="sg-element" placeholder="Username" />
                                    </div>
                                    <div class="hpbx-form-login-row">
                                        <div class="hpbx-form-login-caption">Password</div>
                                        <input type="password" class="sg-element" placeholder="Password" />
                                    </div>
                                    <div class="hpbx-form-login-row">
                                        <input type="submit" class="sg-btn sg-without-icon sg-btn-primary sg-element" value="Log in">
                                    </div>
                                </form>
                            </div>
                            <div class="hpbx-form-login-addition">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hpbx-help-edit-media-library-popup-trigger"></div>
        <div id="hpbx-help-edit-media-library-popup" class="hpbx-dialog hpbx-help-edit-media-library-popup hpbx-popup mfp-hide">
            <div class="hpbx-dialog-header">
                <div class="hpbx-dialog-header-icon"><span class="LGI-iconb-customer-large"></span></div>
                <div class="hpbx-dialog-header-title">Add photo's from the media library</div>
            </div>
            <div class="hpbx-dialog-contents hpbx-scrollable-container">
                <div class="hpbx-help-edit-media-library-popup-tag-filter">
                    <input type="text" class="sg-element" placeholder="Type filter" />
                </div>
                <div class="hpbx-help-filelist-photos hpbx-help-filelist">
                    <div class="hpbx-help-filelist-thumbnails">
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hpbx-dialog-footer">
                <div class="hpbx-dialog-footer-left">
                    <input type="button" class="sg-btn sg-btn-small sg-without-icon sg-btn-primary" value="Save" data-click-handler="yourOwnCustomFunction">
                </div>
                <div class="hpbx-dialog-footer-right">
                    <a class="hpbx-tab-form-link-button hpbx-dialog-close-handle" href="#">Cancel</a>
                </div>
            </div>
        </div>
        <div id="hpbx-help-edit-url-popup" class="hpbx-dialog hpbx-help-edit-url-popup hpbx-popup mfp-hide">
            <div class="hpbx-dialog-header">
                <div class="hpbx-dialog-header-icon"><span class="LGI-iconedit"></span></div>
                <div class="hpbx-dialog-header-title">Enter URL of Help page</div>
            </div>
            <div class="hpbx-dialog-contents">
                <div class="hpbx-form-login-caption">First name</div>
                <input type="text" class="sg-element" placeholder="Type URL" />
            </div>
            <div class="hpbx-dialog-footer">
                <div class="hpbx-dialog-footer-left">
                    <input type="button" class="sg-btn sg-btn-small sg-without-icon sg-btn-primary" value="Save" data-click-handler="yourOwnCustomFunction">
                </div>
                <div class="hpbx-dialog-footer-right">
                    <a class="hpbx-tab-form-link-button hpbx-dialog-close-handle" href="#">Cancel</a>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
    </body>
</html>