<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Music on hold</title>
    </head>
    <body>
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-body-menu-opened-overlay"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu-dummy-handle">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
            <ul class="hpbx-menu-items">
                <li class="hpbx-menu-item hpbx-menu-item-user">
                    <div class="hpbx-menu-item-icon-container">
                        <div class="hpbx-menu-item-icon hpbx-menu-handle hpbx-menu-handle-close">
                        </div>
                        <div class="hpbx-menu-item-count"></div>
                    </div>
                    <div class="hpbx-menu-item-title-container">
                        <span class="hpbx-menu-item-title">BHP Lab Customer B</span>
                    </div>
                    <div class="hpbx-menu-item-subtitle-container">
                        <span class="hpbx-menu-item-subtitle-addition">admin</span>
                        <span class="hpbx-menu-item-subtitle">bladerdeeg BV</span>
                    </div>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-call-log hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Call-log</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-voicemail hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                            <div class="hpbx-menu-item-count">6</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Voicemail</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-personal-settings hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Personal Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-dashboard hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-customers hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-subscribers hpbx-menu-item-admin">
                    <a href="subscribers.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Subscribers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-pbx-devices hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">PBX Devices</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-hunting-groups hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Hunting Groups</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-auto-attendant hpbx-menu-item-admin active-trail">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Auto Attendant</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-conference-room hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Conference Room</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-music-on-hold hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Music on Hold</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-default-forward hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Default Forward</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hpbx-menu-items-sub">
                <li class="hpbx-menu-item hpbx-menu-item-password hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Change password</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-help hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-logout hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Log out</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-language hpbx-menu-item-sub" data-item-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                        <div class="hpbx-menu-item-handle-container">
                            <div class="hpbx-menu-item-handle"></div>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub hpbx-menu-item-sub-active" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">EN</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">NL</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Nederlands</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">DE</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Deutsch</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">TW</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Twents</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="hpbx-page-title">
                        <span class="sg-icon LGI-iconb-music-on-hold-large"></span>
                        <h2 class="sg-header-2">Music on hold</h2>
                    </div>
                    <div class="hpbx-main-content-inner hpbx-music-on-hold">
                        <form class="hpbx-tab-form">

                            <div class="row">
                                <div class="hpbx-tab-form-label-field-row hpbx-upload-audio-container">
                                    <div class="col-xs-12 hpbx-tab-audio-container hpbx-audio-container hpbx-audio-container-singular" data-audio-url="../voicemail/1" data-audio-id="1">
                                        <div class="hpbx-audio-background-active"></div>
                                        <div class="hpbx-audio-progress-bar"></div>
                                        <div class="hpbx-audio-content">
                                            <div class="hpbx-audio-fallback">
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </div>
                                            <div class="hpbx-audio-control-icon"></div>
                                            <div class="hpbx-audio-title">Name uploaded menu audio</div>
                                            <div class="hpbx-audio-duration">03:47</div>
                                            <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete upload"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                        </div>
                                        <input type="checkbox" class="hpbx-audio-is-replaced" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="hpbx-tab-form-label-field-row hpbx-audio-selector-container" data-connected-id="music-on-hold">
                                    <div class="col-xs-12 col-md-3">
                                        <div class="hpbx-tab-form-label">Upload your own music</div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="hpbx-tab-form-field">
                                            <span class="hpbx-audio-selector">
                                                <div class="sg-btn sg-btn-file-input sg-btn-secondary hpbx-click-with-alert needsclick" data-alert-title="Max duration" data-alert-message="Uploading audio files that are longer than 60 minutes may result in an error." data-alert-button-text="OK">
                                                    Pick a file
                                                    <input type="file" class="hpbx-click-with-alert-input" />
                                                </div><span class="sg-btn-icon LGI-iconb-arrow-right-bold"></span>
                                                <span class="sg-btn-file-input-label"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-1 col-md-1">
                                        <div class="hpbx-tab-form-field">
                                            <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Clear upload"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="hpbx-tab-form-label-field-row hpbx-audio-selector-container" data-connected-id="music-on-hold">
                                    <div class="col-xs-12 col-md-11">
                                        <div class="hpbx-tab-form-label">Or choose a song from our default <span class="LGI-iconmedia-library hpbx-audio-selector-library-icon"></span> <a href="#" class="hpbx-audio-selector-library-link hpbx-dialog-open-trigger" data-dialog-id="#hpbx-music-on-hold-dialog" data-dialog-close="hpbxMusicLibraryCloseHandler">music library</a></div>
                                        <div class="hpbx-tab-form-label hpbx-selected"></div>
                                    </div>
                                    <div class="hidden-xs col-sm-1 col-md-1">
                                        <div class="hpbx-tab-form-field">
                                            <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Clear upload"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="hpbx-main-content-buttons-row">
                                    <div class="col-xs-12">
                                        <input type="submit" class="sg-btn sg-without-icon sg-btn-primary" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="hpbx-music-on-hold-dialog" class="hpbx-dialog hpbx-music-on-hold-dialog hpbx-popup mfp-hide" data-result-selector='[name="hpbx-rdo-music-on-hold"]:checked' data-ok-event="hpbx-dialog-ok-music-on-hold">
            <div class="hpbx-dialog-header">
                <div class="hpbx-dialog-header-icon"><span class="LGI-iconb-music-on-hold-large"></span></div>
                <div class="hpbx-dialog-header-title">Choose your music on hold</div>
            </div>
            <div class="hpbx-dialog-contents hpbx-scrollable-container">
                <div class="hpbx-tab-audio-container">
                    <table class="hpbx-table hpbx-table-fullwidth hpbx-table-inside-tabs">
                        <form class="hpbx-tab-form">
                            <col class="hpbx-col-checkbox" width="30px" />
                            <col class="hpbx-col-number" />
                            <col class="hpbx-col-time" width="86px"/>
                            <tbody>
                                <tr class="hpbx-table-head-row sg-text-small">
                                    <td class="hpbx-show"></td>
                                    <td class="hpbx-show" colspan="2">Dance</td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/1" data-audio-id="0">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-0" value="0" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/1" data-audio-id="1">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-1" value="1" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/2" data-audio-id="2">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-2" value="2" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-head-row sg-text-small">
                                    <td class="hpbx-show"></td>
                                    <td class="hpbx-show" colspan="2">Jazz</td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/3" data-audio-id="3">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-3" value="3" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/4" data-audio-id="4">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-4" value="4" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/5" data-audio-id="5">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-5" value="5" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                                <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/1" data-audio-id="6">
                                    <td class="hpbx-audio-control-icon hpbx-show">
                                        <div class="sg-custom-check-and-radio custom-radio">
                                            <label title="">
                                                <input type="radio" name="hpbx-rdo-music-on-hold" id="hpbx-rdo-music-on-hold-6" value="6" />
                                                <span class="sg-caption"></span>
                                                <div class="sg-alternative-display">
                                                    <div class="sg-outer"><div class="sg-inner"></div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-title-container">
                                        <div class="hpbx-table-music-title">Name song</div>
                                        <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    </td>
                                    <td class="hpbx-show hpbx-table-music-time">
                                        <span class="hpbx-table-music-time-caption">09:45</span>
                                    </td>
                                </tr>
                            </tbody>
                        </form>
                    </table>
                    <div class="hpbx-audio-background-active"></div>
                    <div class="hpbx-audio-progress-bar"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hpbx-dialog-footer">
                <div class="hpbx-dialog-footer-left">
                    <input type="button" class="sg-btn sg-btn-small sg-without-icon sg-btn-primary hpbx-dialog-ok" value="Save" data-click-handler="yourOwnCustomFunction">
                </div>
                <div class="hpbx-dialog-footer-right">
                    <a class="hpbx-tab-form-link-button hpbx-dialog-close-handle" href="#">Cancel</a>
                </div>
            </div>
        </div>
        <div class="hpbx-alert hpbx-alert-small hpbx-notification-info">
            <div class="hpbx-alert-box">
                <div class="hpbx-notification-icon"></div>
                <div class="hpbx-notification-title"></div>
                <div class="hpbx-notification-message"></div>
                <div class="hpbx-notification-button">
                    <button class="sg-btn sg-without-icon sg-white hpbx-alert-close-button needsclick"></button>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.min.js"></script>
    </body>
</html>