<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Password recovery</title>
    </head>
    <body class="hpbx-no-menu">
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
        </div>
        <div class="container hpbx-no-menu">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="hpbx-page-title">
                                <span class="sg-icon LGI-iconreset-password"></span>
                                <h2 class="sg-header-2">Password recovery</h2>
                            </div>
                            <div class="hpbx-content-container">
                                <form class="hpbx-form-login">
                                    <div class="hpbx-form-login-row">
                                        A one time login link will be sent to your email address.
                                    </div>
                                    <div class="hpbx-form-login-row">
                                        <div class="hpbx-form-login-caption">Email or username</div>
                                        <input type="text" class="sg-element" placeholder="Email or username" />
                                    </div>
                                    <div class="hpbx-form-login-row">
                                        <input type="submit" class="sg-btn sg-without-icon sg-btn-primary sg-element" value="Request">
                                    </div>
                                </form>
                            </div>
                            <div class="hpbx-form-login-addition">
                                <a href="#">Back to log in</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
    </body>
</html>