<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Subscribers</title>
    </head>
    <body>
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-body-menu-opened-overlay"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu-dummy-handle">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
            <ul class="hpbx-menu-items">
                <li class="hpbx-menu-item hpbx-menu-item-user">
                    <div class="hpbx-menu-item-icon-container">
                        <div class="hpbx-menu-item-icon hpbx-menu-handle hpbx-menu-handle-close">
                        </div>
                        <div class="hpbx-menu-item-count"></div>
                    </div>
                    <div class="hpbx-menu-item-title-container">
                        <span class="hpbx-menu-item-title">BHP Lab Customer B</span>
                    </div>
                    <div class="hpbx-menu-item-subtitle-container">
                        <span class="hpbx-menu-item-subtitle-addition">admin</span>
                        <span class="hpbx-menu-item-subtitle">bladerdeeg BV</span>
                    </div>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-call-log hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Call-log</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-voicemail hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                            <div class="hpbx-menu-item-count">6</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Voicemail</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-personal-settings hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Personal Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-dashboard hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-customers hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-subscribers hpbx-menu-item-admin active-trail">
                    <a href="subscribers.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Subscribers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-pbx-devices hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">PBX Devices</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-hunting-groups hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Hunting Groups</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-auto-attendant hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Auto Attendant</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-conference-room hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Conference Room</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-music-on-hold hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Music on Hold</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-default-forward hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Default Forward</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hpbx-menu-items-sub">
                <li class="hpbx-menu-item hpbx-menu-item-password hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Change password</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-help hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link hpbx-menu-help-open-handle hpbx-visible-xxs-inline" data-help-url="/project/templates/help/home.html">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                    <a href="#" class="hpbx-menu-item-link hpbx-menu-help-open-handle hpbx-hidden-xxs" data-help-url="/project/templates/help/home.html">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-logout hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Log out</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-language hpbx-menu-item-sub" data-item-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                        <div class="hpbx-menu-item-handle-container">
                            <div class="hpbx-menu-item-handle"></div>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub hpbx-menu-item-sub-active" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">EN</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">NL</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Nederlands</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">DE</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Deutsch</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">TW</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Twents</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="hpbx-help-edit-url-popup-trigger">
            <span class="LGI-iconedit"></span>
        </div>
        <div class="hpbx-help-open-handle hpbx-help-open-handle-content-section" id="open-button" data-help-url="/project/templates/help/article-steps.html">
            <span class="LGI-iconb-help-large"></span>
        </div>
        <div class="hpbx-help">
            <iframe class="hpbx-help-iframe" src="/project/templates/help/loader.html" width="100%" height="100%" data-default-url="/project/templates/help/home.html"></iframe>
        </div>
        <div class="hpbx-help-loading-overlay">
            <div class="hpbx-help-loading-wait-container">
                <div class="hpbx-loader-animation-container">
                    <div class="hpbx-loader-animation">
                    </div>
                </div>
            </div>
            <div class="hpbx-help-loading-text hpbx-loader-title">Help is loading...</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="hpbx-page-title">
                        <span class="sg-icon LGI-iconb-subscriber-large"></span>
                        <h2 class="sg-header-2">Subscribers</h2>
                    </div>
                    <div class="hpbx-table-caption">
                        <a class="hpbx-table-caption-link" href="subscribers.html"> <span class="sg-icon sg-icon-plus-round"></span> <h5 class="sg-header-5"> Create new subscriber </h5></a>
                    </div>
                    <table class="hpbx-table hpbx-table-fullwidth hpbx-table-subscribers hpbx-table-sortable">
                        <col class="hpbx-col-name"/>
                        <col class="hpbx-col-email"/>
                        <col class="hpbx-col-number"/>
                        <col class="hpbx-col-subscriber-type"/>
                        <col class="hpbx-col-action"/>
                        <thead class="sg-text-small">
                            <tr>
                                <th class="hpbx-sortable hpbx-show">Name</th>
                                <th class="hpbx-sortable hpbx-show">Email</th>
                                <th class="hpbx-sortable hpbx-show-xs">Number</th>
                                <th class="hpbx-sortable hpbx-show-sm">Subscriber type</th>
                                <th class="hpbx-show-xs"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-url="subscribers-edit-general.html?id=1">
                                <td class="hpbx-show">Erik Scholten 1</td>
                                <td class="hpbx-show">eriks+3@trimm.nl</td>
                                <td class="hpbx-show-xs">06-2456<span class="hpbx-pbx-extension">2812</span></td>
                                <td class="hpbx-show-sm">admin user</td>
                                <td class="hpbx-show-xs"><div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete subscriber"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div></td>
                            </tr>
                            <tr data-url="subscribers-edit-general.html?id=2">
                                <td class="hpbx-show">Erik Scholten 2</td>
                                <td class="hpbx-show">eriks+2@trimm.nl 2</td>
                                <td class="hpbx-show-xs">06-2456<span class="hpbx-pbx-extension">2812</span></td>
                                <td class="hpbx-show-sm">advanced user</td>
                                <td class="hpbx-show-xs"><div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete subscriber"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div></td>
                            </tr>
                            <tr data-url="subscribers-edit-general.html?id=3" data-delete-url="delete.html?id=3">
                                <td class="hpbx-show">Erik Scholten 3</td>
                                <td class="hpbx-show">eriks+1@trimm.nl</td>
                                <td class="hpbx-show-xs">06-2456<span class="hpbx-pbx-extension">2812</span></td>
                                <td class="hpbx-show-sm">basic user</td>
                                <td class="hpbx-show-xs"><div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete subscriber"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="hpbx-help-edit-media-library-popup-trigger"></div>
        <div id="hpbx-help-edit-media-library-popup" class="hpbx-dialog hpbx-help-edit-media-library-popup hpbx-popup mfp-hide">
            <div class="hpbx-dialog-header">
                <div class="hpbx-dialog-header-icon"><span class="LGI-iconb-customer-large"></span></div>
                <div class="hpbx-dialog-header-title">Add photo's from the media library</div>
            </div>
            <div class="hpbx-dialog-contents hpbx-scrollable-container">
                <div class="hpbx-help-edit-media-library-popup-tag-filter">
                    <input type="text" class="sg-element" placeholder="Type filter" />
                </div>
                <div class="hpbx-help-filelist-photos hpbx-help-filelist">
                    <div class="hpbx-help-filelist-thumbnails">
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                            <label>
                                <input type="checkbox" />
                                <div class="hpbx-help-filelist-thumbnail-outer">
                                    <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                        <div class="hpbx-help-filelist-thumbnail-overlay">
                                        </div>
                                        <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                            <div class="hpbx-help-filelist-thumbnail-container hpbx-selectable">
                                <label>
                                    <input type="checkbox" />
                                    <div class="hpbx-help-filelist-thumbnail-outer">
                                        <div class="hpbx-help-filelist-thumbnail-inner" style="background-image: url(/dist/img/wizard/upc-business-1.jpg)">
                                            <div class="hpbx-help-filelist-thumbnail-overlay">
                                            </div>
                                            <div class="hpbx-help-filelist-thumbnail-overlay-icon"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hpbx-dialog-footer">
                <div class="hpbx-dialog-footer-left">
                    <input type="button" class="sg-btn sg-btn-small sg-without-icon sg-btn-primary" value="Save" data-click-handler="yourOwnCustomFunction">
                </div>
                <div class="hpbx-dialog-footer-right">
                    <a class="hpbx-tab-form-link-button hpbx-dialog-close-handle" href="#">Cancel</a>
                </div>
            </div>
        </div>
        <div id="hpbx-help-edit-url-popup" class="hpbx-dialog hpbx-help-edit-url-popup hpbx-popup mfp-hide">
            <div class="hpbx-dialog-header">
                <div class="hpbx-dialog-header-icon"><span class="LGI-iconedit"></span></div>
                <div class="hpbx-dialog-header-title">Enter URL of Help page</div>
            </div>
            <div class="hpbx-dialog-contents">
                <div class="hpbx-form-login-caption">First name</div>
                <input type="text" class="sg-element" placeholder="Type URL" />
            </div>
            <div class="hpbx-dialog-footer">
                <div class="hpbx-dialog-footer-left">
                    <input type="button" class="sg-btn sg-btn-small sg-without-icon sg-btn-primary" value="Save" data-click-handler="yourOwnCustomFunction">
                </div>
                <div class="hpbx-dialog-footer-right">
                    <a class="hpbx-tab-form-link-button hpbx-dialog-close-handle" href="#">Cancel</a>
                </div>
            </div>
        </div>
        <div class="hpbx-alert hpbx-alert-confirm">
            <div class="hpbx-alert-box">
                <div class="hpbx-notification-title">Are you sure you want to delete?</div>
                <div class="hpbx-notification-button">
                    <button class="sg-btn sg-without-icon sg-btn-primary hpbx-confirm-positive-button">Yes</button>
                    <button class="sg-btn sg-without-icon sg-white hpbx-confirm-negative-button">No</button>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
        <script src="http://0e9b04f9.ngrok.io/dist/js/micro-feedback-tool.min.js"></script>
    </body>
</html>