<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all-ziggo.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Subscribers</title>
    </head>
    <body>
        <div id="test-popup" class="hpbx-popup mfp-hide">
            <div class="hpbx-popup-content">
                <h4 class="hpbx-popup-title">Add a time slot</h4>
                <form class="hpbx-popup-form">
                    <div class="hpbx-popup-form-row">
                        <div class="hpbx-popup-form-item-left">
                            <div class="hpbx-popup-form-label">Start</div>
                            <div class="hpbx-popup-form-field">
                                <input type="text" class="sg-element" placeholder="Start">
                            </div>
                        </div>
                        <div class="hpbx-popup-form-item-right">
                            <div class="hpbx-popup-form-label">End</div>
                            <div class="hpbx-popup-form-field">
                                <input type="text" class="sg-element" placeholder="End">
                            </div>
                        </div>
                    </div>
                    <div class="hpbx-popup-form-row">
                        <div class="hpbx-popup-form-label">Repeat on</div>
                        <div class="hpbx-popup-form-days-container">
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-sunday" id="chk-sunday" value="1">
                                <label for="chk-sunday" title="">S</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-monday" id="chk-monday" value="1">
                                <label for="chk-monday" title="">M</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-tuesday" id="chk-tuesday" value="1">
                                <label for="chk-tuesday" title="">T</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-wednesday" id="chk-wednesday" value="1">
                                <label for="chk-wednesday" title="">W</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-thursday" id="chk-thursday" value="1">
                                <label for="chk-thursday" title="">T</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-friday" id="chk-friday" value="1">
                                <label for="chk-friday" title="">F</label>
                            </div>
                            <div class="hpbx-day-checkbox">
                                <input type="checkbox" name="chk-saturday" id="chk-saturday" value="1">
                                <label for="chk-saturday" title="">S</label>
                            </div>
                        </div>
                    </div>
                    <div class="hpbx-popup-form-add-rule">
                        <div class="sg-custom-check-and-radio sg-custom-check">
                            <label title="">
                                <input type="checkbox" name="checkbox" id="checkbox" value="1" />
                                <span class="sg-caption">Add another rule</span>
                                <div class="sg-alternative-display">
                                    <div class="sg-icon-check"></div>
                                </div>
                            </label>
                        </div>  
                    </div>
                    <div class="hpbx-popup-form-buttons-row">
                        <a class="hpbx-popup-form-link-button" href="#">Remove</a>
                        <input type="submit" class="sg-btn sg-without-icon sg-btn-primary" value="Set">
                    </div>
                </form>
            </div>
        </div>
        <a href="#test-popup" class="open-popup-link">Show inline popup</a>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
    </body>
</html>