<!DOCTYPE html>
<!--[if lt IE 8]>
<html lang="en" class="no-js ltie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js non-ie" lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../dist/css/all.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="icon" href="../../dist/img/lgi-styleguide-upc-business/dist/img/favicon.ico" type="image/x-icon" />
        <title>HPBX UPC Business - Voicemail</title>
    </head>
    <body>
        <div class="hpbx-body-background-color"></div>
        <div class="hpbx-body-background-image"></div>
        <div class="hpbx-header-background-image"></div>
        <div class="hpbx-body-menu-opened-overlay"></div>
        <div class="hpbx-header">
            <div class="hpbx-header-logo"></div>
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu-dummy-handle">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
        </div>
        <div class="hpbx-menu">
            <div class="hpbx-menu-handle hpbx-menu-handle-open"></div>
            <ul class="hpbx-menu-items">
                <li class="hpbx-menu-item hpbx-menu-item-user">
                    <div class="hpbx-menu-item-icon-container">
                        <div class="hpbx-menu-item-icon hpbx-menu-handle hpbx-menu-handle-close">
                        </div>
                        <div class="hpbx-menu-item-count"></div>
                    </div>
                    <div class="hpbx-menu-item-title-container">
                        <span class="hpbx-menu-item-title">BHP Lab Customer B</span>
                    </div>
                    <div class="hpbx-menu-item-subtitle-container">
                        <span class="hpbx-menu-item-subtitle-addition">admin</span>
                        <span class="hpbx-menu-item-subtitle">bladerdeeg BV</span>
                    </div>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-call-log hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Call-log</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-voicemail hpbx-menu-item-everyone active-trail">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                            <div class="hpbx-menu-item-count">6</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Voicemail</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-personal-settings hpbx-menu-item-everyone">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Personal Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-dashboard hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-customers hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-subscribers hpbx-menu-item-admin">
                    <a href="subscribers.html" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Subscribers</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-pbx-devices hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">PBX Devices</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-hunting-groups hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Hunting Groups</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-auto-attendant hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Auto Attendant</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-conference-room hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Conference Room</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-music-on-hold hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Music on Hold</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-default-forward hpbx-menu-item-admin">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Default Forward</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hpbx-menu-items-sub">
                <li class="hpbx-menu-item hpbx-menu-item-password hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Change password</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-help hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Help</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-logout hpbx-menu-item-sub">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Log out</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-language hpbx-menu-item-sub" data-item-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon"></div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                        <div class="hpbx-menu-item-handle-container">
                            <div class="hpbx-menu-item-handle"></div>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub hpbx-menu-item-sub-active" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">EN</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">English</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">NL</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Nederlands</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">DE</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Deutsch</span>
                        </div>
                    </a>
                </li>
                <li class="hpbx-menu-item hpbx-menu-item-sub" data-parent-id="language">
                    <a href="#" class="hpbx-menu-item-link">
                        <div class="hpbx-menu-item-icon-container">
                            <div class="hpbx-menu-item-icon">TW</div>
                        </div>
                        <div class="hpbx-menu-item-title-container">
                            <span class="hpbx-menu-item-title">Twents</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hpbx-main-content">
                    <div class="hpbx-page-title hpbx-voicemail-page-title">
                        <div class="hpbx-page-title-voicemail-title">
                            <span class="sg-icon LGI-iconb-voicemail-large"></span>
                            <h2 class="sg-header-2">Voicemail</h2>
                        </div>
                        <div class="hpbx-page-title-voicemail-counters">
                            <div class="hpbx-voicemail-counters">
                                <div class="hpbx-progress-circle-container">
                                    <div class="hpbx-progress-circle hpbx-progress-circle-small hpbx-voicemail-counter-personal" data-value="6" data-total="31" data-svg-id="hpbx-voicemail-counter-personal-svg">
                                        <svg id="hpbx-voicemail-counter-personal-svg" class="hpbx-progress-circle-svg"></svg>
                                        <div class="hpbx-progress-circle-inner">6</div>
                                    </div>
                                    <div class="hpbx-progress-circle-title"><span class="hpbx-progress-circle-title-amount">6</span> Personal</div>
                                    <div class="hpbx-progress-circle-subtitle">31 total</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hpbx-content-container hpbx-content-container-voicemail-page">
                        <div class="hpbx-table-selector-caption">
                            <form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="hpbx-table-selector-title sg-text-intro">Show:</div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-4">
                                        <div class="hpbx-table-selector-inputs">
                                            <select class="chzn-select sg-element" data-placeholder="Choose an option">
                                                <option>All messages</option>
                                                <option>Unread</option>
                                                <option>Read</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-10">
                                        <div class="hpbx-table-selector-inputs hpbx-table-selector-submit-container">
                                            <input type="submit" class="sg-btn sg-btn-secondary" value="Change"><span class="sg-btn-icon LGI-iconb-arrow-right-bold"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="hpbx-tab-audio-container">
                            <table class="hpbx-table hpbx-table-fullwidth hpbx-table-inside-tabs hpbx-table-with-select-all hpbx-table-voicemail">
                                <form class="hpbx-tab-form">
                                    <col class="hpbx-col-checkbox" width="30px" />
                                    <col class="hpbx-col-number" />
                                    <col class="hpbx-col-time" width="120px"/>
                                    <tbody>
                                        <tr class="hpbx-table-head-row sg-text-small">
                                            <td class="hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-all" id="hpbx-chk-voicemail-all" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show" colspan="2">Wednesday 19-02-2015</td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/1" data-voicemail-id="1">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-1" id="hpbx-chk-voicemail-1" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/2" data-voicemail-id="2">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-2" id="hpbx-chk-voicemail-2" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                        <tr class="hpbx-table-head-row sg-text-small">
                                            <td class="hpbx-show"></td>
                                            <td class="hpbx-show" colspan="2">Tuesday 18-02-2015</td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/3" data-voicemail-id="3">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-3" id="hpbx-chk-voicemail-3" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/4" data-voicemail-id="4">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-4" id="hpbx-chk-voicemail-4" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container" data-audio-url="../voicemail/5" data-voicemail-id="5">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-5" id="hpbx-chk-voicemail-5" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                        <tr class="hpbx-table-head-row sg-text-small hpbx-read">
                                            <td class="hpbx-show"></td>
                                            <td class="hpbx-show" colspan="2">Monday 17-02-2015</td>
                                        </tr>
                                        <tr class="hpbx-table-audio-container hpbx-audio-container hpbx-read" data-audio-url="../voicemail/6" data-voicemail-id="6">
                                            <td class="hpbx-audio-control-icon hpbx-show">
                                                <div class="sg-custom-check-and-radio sg-custom-check">
                                                    <label title="">
                                                        <input type="checkbox" name="hpbx-chk-voicemail-6" id="hpbx-chk-voicemail-6" value="1" />
                                                        <span class="sg-caption"></span>
                                                        <div class="sg-alternative-display">
                                                            <div class="sg-icon-check"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-number">
                                                vmu353126349995091
                                                <embed src="http://213.160.253.145/sites/all/modules/ccs/hpbx/includes/wavplayer.swf?gui=full&amp;h=20&amp;w=200&amp;sound=http://213.160.253.145/hpbx/voicemail/265/play.wav&amp;" bgcolor="#ffffff" width="100" height="20" name="haxe" quality="high" align="middle" scale="noscale" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                            </td>
                                            <td class="hpbx-show hpbx-table-voicemail-time">
                                                <span class="hpbx-table-voicemail-time-caption">09:45</span>
                                                <div class="hpbx-delete js-delete sg-btn sg-btn-small sg-btn-secondary" title="Delete voicemail"><span class="sg-btn-icon LGI-iconb-cross-bold"></span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </form>
                            </table>
                            <div class="hpbx-table-button-row">
                                <div class="hpbx-table-button">
                                    <input type="button" class="sg-btn sg-btn-secondary" value="Mark selected as read"><span class="sg-btn-icon LGI-iconb-arrow-right-bold"></span>
                                </div>
                                <div class="hpbx-table-button">
                                    <input type="submit" class="sg-btn sg-btn-secondary" value="Delete selected"><span class="sg-btn-icon LGI-iconb-arrow-right-bold"></span>
                                </div>
                            </div>
                            <div class="hpbx-audio-background-active"></div>
                            <div class="hpbx-audio-progress-bar"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hpbx-pagination-container">
                                <ul class="hpbx-pagination">
                                    <li class="hpbx-pagination-item hpbx-pagination-item-start hpbx-pagination-item-unavailable">
                                        <span class="hpbx-pagination-item-content LGI-iconb-begin-bold"></span>
                                    </li>
                                    <li class="hpbx-pagination-item hpbx-pagination-item-before-current"><a class="hpbx-pagination-item-content" href="#">20</a></li>
                                    <li class="hpbx-pagination-item hpbx-pagination-item-current"><a class="hpbx-pagination-item-content" href="#">21</a></li>
                                    <li class="hpbx-pagination-item hpbx-pagination-item-after-current"><a class="hpbx-pagination-item-content" href="#">22</a></li>
                                    <li class="hpbx-pagination-item"><a class="hpbx-pagination-item-content" href="#">23</a></li>
                                    <li class="hpbx-pagination-item"><a class="hpbx-pagination-item-content" href="#">24</a></li>
                                    <li class="hpbx-pagination-item hpbx-pagination-item-end">
                                        <a class="hpbx-pagination-item-content" href="#"><span class="LGI-iconb-end-bold"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script src="../../dependencies/jquery-legacy/dist/jquery.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="../../dependencies/jquery/dist/jquery.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="../../dist/js/all.js"></script>
    </body>
</html>